.app-nav{
    margin: 0 !important;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    color: #3F51B5;
    box-shadow:0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border-bottom:1px solid #d4dadf;
    display: flex;
    align-items: center;

}
.sidebar{
    padding-top:100px;
}
.content{
    padding-top:100px;
}